<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Victor Andrade</a></h1>
    </div>

    <div>
        <p>publicado: 21/12/2022, 11:13</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>BlaBlaBlaBlaBlaBlaBlaBla</p>
    </div>

    <div>
        <p>publicado: 21/12/2022, 11:13</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>BlaBlaBlaBlaBlaBlaBlaBla</p>
    </div>
</body>
</html>